<template>
<h1>COUCOU</h1>
</template>

<script>

export default {
  name: 'App',
  data() {
    return {

      jsonTechnics: { 
        "technics":
        [
          {
          "id": 1,
          "title": "Le barbecue du dimanche",
          "subTitle": "Chérie, ça sent bon chez les voisins !",
          "level": 2,
          "power": 3,
          "worst": ["fumée", "odeur de procelet grillé", "laisse des traces de brulé", "n'élimine pas 100% des traces (notamment dents, pacemaker ou alliance)", "vous faire devenir vegan"],
          "best": ["Peut servir pour alerter un hélicoptère si perdu en montagne", "procure de la chaleur à moindre prix en période de crise énergétique"],
          "tools": ["briquet/allumettes", "essence/charbon", "", "", "moutarde"],
          "img": "../img/bbq.jpg",
          "article": "ma description"
          },
          {
          "id": 1,
          "title": "Plus c'est gros, plus ça passe",
          "subTitle": "Osé mais rudement efficace",
          "level": 4,
          "power": 5,
          "tools": ["pelle", "corde", "tractopelle", "eau bénite", "gypaète barbu"],
          "img": "../img/tomb.jpg",
          "article": "ma description"
          },
          {
          "id": 1,
          "title": "Plus c'est gros, plus ça passe",
          "subTitle": "Osé mais rudement efficace",
          "level": 4,
          "power": 5,
          "tools": ["pelle", "corde", "tractopelle", "eau bénite", "gypaète barbu"],
          "img": "",
          "article": "ma description"
          },
          {
          "id": 1,
          "title": "Plus c'est gros, plus ça passe",
          "subTitle": "Osé mais rudement efficace",
          "level": 4,
          "power": 5,
          "tools": ["pelle", "corde", "tractopelle", "eau bénite", "gypaète barbu"],
          "img": "",
          "article": "ma description"
          },
          {
          "id": 1,
          "title": "Plus c'est gros, plus ça passe",
          "subTitle": "Osé mais rudement efficace",
          "level": 4,
          "power": 5,
          "tools": ["pelle", "corde", "tractopelle", "eau bénite", "gypaète barbu"],
          "img": "",
          "article": "ma description"
          },
          {
          "id": 1,
          "title": "Plus c'est gros, plus ça passe",
          "subTitle": "Osé mais rudement efficace",
          "level": 4,
          "power": 5,
          "tools": ["pelle", "corde", "tractopelle", "eau bénite", "gypaète barbu"],
          "img": "",
          "article": "ma description"
          },

        ]
        
         
        
      },
    }
  }
 
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
